.login-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #5e4dcd;
  border-radius: 5px;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #5e4dcd;
  border-radius: 5px;
}

.login-form .error {
  color: red;
  font-size: 12px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #5e4dcd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-form button:hover {
  background-color: #5e5dcd;
}

.login-form input:focus,
.login-form input:focus-visible {
  border: 1px solid #3898ec;
  outline: none;
}
