.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.filter select {
  padding: 10px;
  margin: 5px;
  border: 1px solid #5e4dcd;
  border-radius: 5px;
  width: 100%;
}

.filter select:focus,
.filter select:focus-visible {
  border: 1px solid #3898ec;
  outline: none;
}

@media (max-width: 480px) {
  .filter {
    flex-wrap: wrap;
  }
}
