.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  margin: 10px;
  background-color: #242424;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: 180px;
  border-radius: 5px;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card p {
  margin: 5px 0;
}

.actions {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  justify-self: end;
}

.product-card button {
  padding: 10px 10px;
  margin: 5px;
  background-color: #146dbb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.product-card button:hover {
  background-color: #0056b3;
}
